{{!-- <div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="" class="btn btn-primary" role="button">Button</a> 
                <a href="" class="btn btn-default" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div> --}}

<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">...</p>
    </div>
    <div class="card-footer">
        <p>
            <a href="" class="btn btn-primary" role="button">Button</a> 
            <a href="" class="btn btn-default" role="button">Button</a>
        </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">..</p>
    </div>
    <div class="card-footer">
        <p>
            <a href="" class="btn btn-primary" role="button">Button</a> 
            <a href="" class="btn btn-default" role="button">Button</a>
        </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">...</p>
    </div>
    <div class="card-footer">
        <p>
            <a href="" class="btn btn-primary" role="button">Button</a> 
            <a href="" class="btn btn-default" role="button">Button</a>
        </p>
    </div>
  </div>
</div>