{{!-- <div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="" class="btn btn-primary" role="button">Button</a> 
                <a href="" class="btn btn-default" role="button">Button</a>
                </p>
            </div>
        </div>
    </div>
</div> --}}

<div class="box">
  {{#each product}}
  <div class="card m-4">
    <img  class="card-img-top" src="{{this.imagePath}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.description}} </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">${{this.price}}</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Add to Cart</a> 
    </div>
  </div>
  {{/each}}
</div>

<div class="card-group">
   <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
  <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
  <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
</div>
{{!-- 2nd row --}}
<div class="card-group">
   <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
  <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
  <div class="card m-4">
    <img  class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget leo id neque accumsan volutpat eget eget risus. Etiam auctor viverra ex in fermentum. </p>
    </div>
    <div class="clearfix">
            <div class="price ml-3">$12</div>
            <a href="" class="btn btn-success float-right m-3" role="button">Button</a> 
    </div>
  </div>
</div>