.container{
    padding-top: 2rem;
}
.price{
    font-weight: bold;
    font-size: 1rem;
}

.card-img-top{
    max-width: 50%;
    margin: auto;
    margin-top: 1rem;
}
.box{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}
.form{
    justify-content: center;
}
.badges{display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.473);
}
@media screen and (min-width: 0px) and (max-width: 769px){
    .box{
        flex-direction: column;
    }

    .card-img-top{
        max-width: 40%;
    }
}